<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joybar.libupdate">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <receiver android:name="com.joybar.libupdate.receiver.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>

